// Fonts

@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Regular.ttf);
}

// Color's
$primary--color: rgb(26, 26, 26);
$second--color: rgb(43, 119, 255);
$font--color: rgb(255, 255, 255);

$white--gost: rgba(255, 255, 255, 0.1);

// Border color

@mixin borderPrimary {
    border: 1px solid rgb(119, 168, 255);
}

// Hover effect color

$hover--color: rgb(41, 119, 255);

// Shadow color

@mixin shadow {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.562);
}

// Glass morphism

@mixin  glass {
    background: $white--gost;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}